.navbar {
  background-color: white;
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-weight: 600 !important;
}

.getstarted,
.getstarted:focus {
  background: #3498db;
  padding-left: 15px !important;
  padding-right: 15px !important;
  margin-left: 10px;
  border-radius: 50px;
  color: #fff !important;
}

.getstarted:hover,
.getstarted:focus:hover {
  color: #fff !important;
  background: #4aa3df;
}

.konten-kiri {
  padding-top: 10%;
}

.btn-get-started {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #3498db;
  border: 2px solid #3498db;
}

.btn-get-started:hover {
  background: #3498db;
  color: #fff;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  color: #222222;
}
.section-title h2::before,
.section-title h2::after {
  content: "";
  width: 50px;
  height: 2px;
  background: #3498db;
  display: inline-block;
}
.section-title h2::before {
  margin: 0 15px 10px 0;
}
.section-title h2::after {
  margin: 0 0 10px 15px;
}

#carousel {
  margin-bottom: 100px;
}

#about {
  background-color: #ebf3f9;
  padding-top: 5%;
  padding-bottom: 5%;
}

#about .text {
  background: #3498db;
  border-radius: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#about .card {
  width: 210px;
  border-color: #3498db;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
}

#about .text {
  color: white;
}

#about img {
  height: 210px;
}

#contact {
  padding-top: 5%;
}

.credits {
  font-size: 13px;
  padding-top: 5px;
  color: #222222;
}

#footer {
  background: #fff;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  color: #222222;
  font-size: 14px;
}

.form {
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 50px;
  padding-bottom: 60px;
  background-color: #3498db;
}
.form .row {
  margin-top: 10px;
  background-color: rgb(106, 186, 223);
  border-radius: 10px;
}

.form-check-keyakinan {
  margin-top: 10px;
}
.form button {
  margin-bottom: 20px;
}

#keyakinan {
  margin-top: 10px;
}

button {
  float: right;
}
